@media only screen and (max-width: 550px) {
	.article-card-container {
		row-gap: 1rem;
	}
	.article-card {
		width: 350px;
		height: 350px;
	}
	.article-card img {
		height: 200px;
	}
}
@media only screen and (min-width: 551px) {
	.article-card-container {
		gap: 2rem;
	}
	.article-card {
		width: 400px;
		height: 425px;
	}
	.article-card h3 {
		font-size: 1.2rem;
	}
	.article-card .text-container {
		font-size: 0.8rem;
	}
	.article-card img {
		height: 250px;
	}
}
.sort-button {
	text-align: center;
}
.article-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}
.article-card-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
.article-card {
	border: 3px solid lightcoral;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.article-card-container a {
	margin: auto;
}
.article-card img {
	object-fit: cover;
	width: 100%;
}
:is(.article-card) :is(.text-container) {
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
	padding: 5px;
}
.text-container p {
	padding: 0;
	margin: 0;
}
:is(.sidebar) :is(.sort-button) {
	display: none;
}